@model TreinamentoBenner.Core.Model.Telefone

<div class="container">
    <form>
        <div>
            @Html.HiddenFor(m => m.Id, new { id = "TelefoneId" })

            @Html.LabelFor(m => m.Numero, new { @for = "Numero" })
            @Html.EditorFor(m => m.Numero, new { @class = "required" })
        </div>
    </form>
</div>