@{
    ViewBag.Title = "Chat básico";
}
@section scripts {

    @Scripts.Render("~/bundles/SignalR")
    <script src="signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.broadcastMessage = function (name, message, date) {
                var encodeName = $("<div />").text(name).html();
                var encodeMessage = $("<div />").text(message).html();
                $("#discussion").append("<strong>" + date + "-" + encodeName + " disse </strong>" + ": " + encodeMessage + "<br />");
            };

            $("#displayname").val(prompt("Digite o seu nome: "));
            $("#message").focus();

            function send() {
                chat.server.send($("#displayname").val(), $("#message").val());
                $("#message").val('').focus();
            }

            $.connection.hub.start().done(function () {
                $(document).keyup(function (e) {
                    if (e.keyCode === 13) {
                        send();
                    }
                });

                $("#sendmessage").click(send);
            });
        });
    </script>
}
<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Enviar" />
    <input type="hidden" id="displayname" value="Enviar" />
    <div id="discussion"></div>
</div>