@{
    ViewBag.Title = "Produtos";
}

<h2>@ViewBag.Title</h2>

<div ng-app="app">
    <div class="ng-view"></div>
</div>

@section scripts
{
    <script src='@Url.Content("~/Scripts/Produto/produtoController.js")'></script>
}
